 /* api.openweathermap.org/data/2.5/weather?q=Indore&appid=844522a9f71e49b2206829d167137684 */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.weather-sec
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161623;
}



.weather-sec .box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    max-width: 20rem;
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
    overflow: hidden;
    background: rgb(132, 169, 212);
    box-shadow: 0 20px 35px rgba(255,255,255,0.15);

}

.weather-sec .box .imgbx
{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.weather-sec .box .imgbx
{
    font-size: 2.8em;
    color: yellow;
}

.weather-sec .box .imgbx h2 i
{
    animation: icon 4s linear infinite;
}

@keyframes icon
{
    0%
    {
      transform: scale(1);
    }
    50%
    {
      transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);

    }
}


.weather-sec .box .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.weather-sec .box .content .degree,
.weather-sec .box .content .city
{
   position: relative;
   font-size: 2em;
   font-weight: 600;
   padding-top: 10px ;
}

.weather-sec .box .content .min-deg,
.weather-sec .box .content .day
{
    font-size: 1.1em;
    color: #fff;
    padding-bottom: 10px ;
}

.weather-sec .box .content .day span,
.weather-sec .box .content .min-deg span
{
   padding:0 2px;
}

.layer-1,
.layer-2,
.layer-3
{
  position: absolute;
  width: 300px;
  height: 300px;
  animation: rotates 5s linear infinite;
  border-radius: 50%;
}

.layer-1
{   
    top: 175px;
    background: rgb(6, 90, 247);
    animation-delay: 2s;
}

.layer-2
{   
    top: 205px;
    background: rgb(4, 155, 224);
    animation-delay: 1.5s;
}

.layer-3
{   
    top: 225px;
    background: rgb(80, 138, 204);
    animation-delay: 1s;
}


@keyframes rotates
{
    0%
    {
        transform: rotateX(0deg);
        
    }
    50%
    {
        transform: rotateX(40deg);
        
    }
    100%
    {
        transform: rotateX(0deg);

    }
}